.cursor-dot {
  position: fixed;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  background: #5ce1e6;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.08s linear;
  z-index: 99999;

  box-shadow:
    0 0 10px #5ce1e6,
    0 0 20px #5ce1e6,
    0 0 40px #5ce1e6;
}