.three-d-content{
   background-image: url("../assets/images/banner-bg.png"); /* Ensure it stays behind other content */ 
 
}

.three-d-container {
 width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 50px;
  display: flex;
    align-items: center;
    gap: 10px;
}

.three-d-room{
padding-left: 50px;
}

.three-d-description{
    width: 100%;
    color: white;
}

.three-d-description h1{
     font-size: 48px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1;
  margin-bottom: 20px;
  display: block;
}

.three-d-description p{
     color: #ededed;
  font-size: 18px;
  letter-spacing: 0.4px;
  line-height: 1.7;
  width: 100%;
  max-width: 760px;
  margin: 0;
margin-top: 30px;
}


@media (max-width: 1200px) {
    
  .three-d-container {
    display: flex;
    flex-direction: column !important;
    text-align: center;
  padding: 20px 0 0;
    gap: 20px;

  }

  .three-d-description {
    width: 100%;
    order: 1; 
  }

  .three-d-room {
    width: 100%;
    height: 400px;
    order: 2;
  }
} 